//  =================
//      Imports
//  =================

@import '../../base/base'; // Base Variables

#addListModal {
    .modal-dialog {
        max-width: 345px;
    }

    .modal-content {
        border: none;
        box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    }

    .compose-box {
        h5 {
            font-weight: 700;
            font-size: 18px;
            color: #3b3f5c;
            text-align: center;
            margin-bottom: 38px;
        }

        .list-title {
            display: flex;

            svg {
                align-self: center;
                font-size: 19px;
                margin-right: 14px;
                color: #4361ee;
                font-weight: 600;
            }

            input {
                border: none;
                padding: 10px 16px;
                -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
                box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);

                &::-webkit-input-placeholder,
                &::-ms-input-placeholder,
                &::-moz-placeholder {
                    color: #bfc9d4;
                    font-weight: 600;
                }
            }
        }
    }

    .modal-dialog {
        margin: 0.5rem auto;
    }
}

/*Add Task Modal*/

#addTaskModal {
    .compose-box h5 {
        font-weight: 700;
        font-size: 18px;
        color: #515365;
        text-align: center;
        margin-bottom: 38px;
    }

    .task-title {
        display: flex;
    }

    .modal-content {
        .card {
            border: none;
            border-radius: 6px;
            cursor: pointer;
            background-color: #fff;
        }

        .card-header {
            padding: 0;
            padding: 0;
            border: none;
            background: none;

            > div {
                padding: 13px 21px;
                font-weight: 600;
                font-size: 16px;
                color: #4361ee;
            }
        }

        border: none;
        box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);

        .modal-body svg {
            align-self: center;
            font-size: 19px;
            margin-right: 14px;
            color: #4361ee;
            font-weight: 600;
        }

        input {
            padding: 10px 16px;
        }
    }

    .task-badge {
        display: flex;
    }

    .modal-content textarea {
        padding: 10px 16px;
    }
}

/* Delete Modal*/

#deleteConformation .modal-content {
    border: 0;
    -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
    box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);

    .modal-header {
        padding: 1rem 1rem;

        .icon {
            padding: 7px 9px;
            background: rgba(231, 81, 90, 0.37);
            text-align: center;
            margin-right: 8px;
            border-radius: 50%;

            svg {
                width: 20px;
                color: #e7515a;
                fill: rgba(231, 81, 90, 0.37);
            }
        }

        .modal-title {
            color: #3b3f5c;
            font-size: 18px;
            font-weight: 700;
            align-self: center;
            flex: 1;
        }
    }

    .modal-body {
        padding: 28px 1rem;

        p {
            color: #888ea8;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    .modal-footer {
        padding: 1rem 1rem;
        border: none;

        [data-dismiss='modal'] {
            background-color: #fff;
            color: #e7515a;
            font-weight: 700;
            border: 1px solid #e8e8e8;
            padding: 10px 25px;
        }

        [data-remove='task'] {
            color: #fff;
            font-weight: 600;
            padding: 10px 25px;
        }
    }
}

.task-list-section {
    display: flex;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}

.task-list-container {
    min-width: 309px;
    padding: 0 15px;
    width: 320px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

/*  
    Connect Sorting Div
*/

.connect-sorting {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e0e6ed;
    background: rgb(226, 230, 234);

    .task-container-header {
        display: flex;
        justify-content: space-between;
        padding: 18px 5px;

        .dropdown .dropdown-menu {
            padding: 10px 0;

            .dropdown-item {
                &:hover {
                    color: #4361ee;
                }

                &.active,
                &:active {
                    background-color: transparent;
                }
            }
        }

        h6 {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .add-s-task {
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        text-align: center;

        &:hover {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
        }

        .addTask {
            display: block;
            color: #3b3f5c;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            display: inline-block;
            cursor: pointer;

            &:hover {
                color: #4361ee;
            }

            svg {
                width: 16px;
                height: 16px;
                vertical-align: text-top;
            }
        }
    }
}

.scrumboard {
    .task-header {
        /* margin-bottom: 25px; */
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0 20px;

        h4 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
        }

        svg {
            &.feather-edit-2 {
                width: 18px;
                height: 18px;
                color: #888ea8;
                vertical-align: middle;
                fill: rgba(0, 23, 55, 0.08);
                cursor: pointer;
                padding: 0;
                margin-right: 5px;

                &:hover {
                    color: #4361ee;
                    fill: rgba(27, 85, 226, 0.2392156863);
                }
            }

            &.feather-trash-2 {
                color: #e7515a;
                margin-right: 6px;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                fill: rgba(231, 81, 90, 0.14);
                cursor: pointer;

                &:hover {
                    fill: rgba(231, 81, 90, 0.37);
                }
            }
        }
    }

    .card {
        border: none;
        border-radius: 4px;
        margin-bottom: 30px;
        box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 16px 32px -4px;

        .card-body {
            padding: 0;

            .task-body .task-bottom {
                display: flex;
                justify-content: space-between;
                padding: 12px 15px;

                div {
                    &.tb-section-1 {
                        span {
                            font-size: 13px;
                            font-weight: 600;
                            width: 17px;
                            height: 17px;

                            &:hover {
                                color: #4361ee;
                                cursor: pointer;

                                svg {
                                    color: #4361ee;
                                    fill: rgba(27, 85, 226, 0.2392156863);
                                }
                            }
                        }

                        svg {
                            width: 18px;
                            vertical-align: bottom;

                            &:not(:last-child) {
                                margin-right: 5px;
                            }
                        }
                    }

                    &.tb-section-2 svg {
                        width: 18px;
                        cursor: pointer;
                        color: #888ea8;
                        margin-right: 6px;
                        vertical-align: middle;
                        width: 18px;
                        height: 18px;
                        fill: rgba(0, 23, 55, 0.08);

                        &.feather-edit-2 {
                            width: 18px;
                            height: 18px;
                            color: #888ea8;
                            vertical-align: middle;
                            fill: rgba(0, 23, 55, 0.08);
                            cursor: pointer;
                            padding: 0;

                            &:hover {
                                color: #4361ee;
                                fill: rgba(27, 85, 226, 0.2392156863);
                            }
                        }

                        &.feather-trash-2 {
                            color: #e7515a;
                            margin-right: 6px;
                            vertical-align: middle;
                            width: 18px;
                            height: 18px;
                            fill: rgba(231, 81, 90, 0.14);

                            &:hover {
                                fill: rgba(231, 81, 90, 0.37);
                            }
                        }

                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        &.img-task {
            .card-body {
                .task-content {
                    padding: 10px 10px 0 10px;

                    img {
                        border-radius: 6px;
                        height: 105px;
                        width: 100%;
                    }
                }
            }
        }

        &.simple-title-task .card-body {
            .task-header {
                margin-bottom: 0;
                padding: 20px;

                div {
                    &:nth-child(1) {
                        width: 70%;
                    }

                    &:nth-child(2) {
                        width: 30%;
                        text-align: right;
                    }
                }
            }

            .task-body .task-bottom {
                padding: 3px 15px 11px 15px;
            }
        }

        &.task-text-progress .card-body .task-content {
            margin-top: 20px;

            p {
                padding: 5px 20px 5px 20px;
            }

            > div {
                display: flex;
                padding: 5px 20px 5px 20px;
            }

            .progress {
                height: 9px;
                width: 100%;
                margin-right: 17px;
                margin-bottom: 0;
                align-self: center;
            }

            > div p.progress-count {
                padding: 0;
                margin-bottom: 0;
            }
        }

        &.ui-sortable-helper {
            background-color: #4361ee;

            .task-header {
                span {
                    color: #fff;

                    svg {
                        color: #fff;
                    }
                }

                svg {
                    &.feather-edit-2,
                    &.feather-trash-2 {
                        color: #fff;
                    }
                }

                h4 {
                    color: #fff;
                }
            }

            &.task-text-progress .card-body .task-content {
                p {
                    color: #fff;
                }

                .progress .progress-bar {
                    background-color: #2196f3 !important;
                }
            }

            .task-header svg.feather-user {
                color: #fff;
            }

            .card-body {
                .task-body .task-bottom div {
                    &.tb-section-1 {
                        color: #fff;

                        svg {
                            color: #fff;
                        }
                    }

                    &.tb-section-2 svg {
                        color: #fff;
                    }
                }

                .task-content .progress {
                    box-shadow: none;
                }
            }
        }
    }
}

/*
    img task
*/

/*
    task-text-progress
*/

/*
    Style On events
*/

/* On Drag Task */

.ui-state-highlight {
    position: relative;
    border-color: #4361ee !important;
    height: 141px;
    margin-bottom: 36px !important;
    border-radius: 15px !important;
    border: 1px dashed #4361ee !important;
    background-image: linear-gradient(
        45deg,
        rgba(27, 85, 226, 0.09) 25%,
        transparent 25%,
        transparent 50%,
        rgba(27, 85, 226, 0.09) 50%,
        rgba(27, 85, 226, 0.09) 75%,
        transparent 75%,
        transparent
    ) !important;
    background-size: 1rem 1rem !important;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;

    &:before {
        content: 'Drop';
        position: absolute;
        left: 41%;
        font-size: 19px;
        color: #4361ee;
        top: 50%;
        margin-top: -16px;
        font-weight: 600;
    }
}

.connect-sorting-content {
    min-height: 60px;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0;
    }

    100% {
        background-position: 0 0;
    }
}